.containerBodyHome {
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}

// IMG SUPERIOR
.containerimgPlant{
  height: 30%;
  width: 100%;
  margin-bottom: 300px;

  .imgPlant {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    //sirve para cortar la imagen 
    object-fit: cover; 
  }
}

// CARD RECYCLING

.containerCardRecycling {
  width: 80%;
  max-width: 756px;
  display: flex;
  border-radius: 15px;
  box-sizing: border-box; 
  background-color: white;
  position: absolute;
  bottom: 550px;
  border: 1px solid #eee;

  .imgRecycling {
    height: 350px;
    width: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .centerBox {
    border-color: grey;
    background-color: white;
  }

  .textCardWeAre {
    font-size: 40px;
    line-height: 45px;
    color: #024731;
    height: 286px;
    width: 225px;
    height: 250px;
    
    width: 300px;
    margin: 10px;
    background-color: white;
  }

  .textCardView {
    font-size: 15px;
    font-weight: 500;
    color: rgb(223, 177, 99);
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
  }

  .rightBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #eee;
    padding: 15px 0px 15px 35px;
    background-color: white;
  }

  .natureLogoCard {
    height: 64px;
    width: 64px;
    background-color: white;
  }

  .text25 {
    font-size: 60px;
    font-weight: 600;
    color: rgb(223, 177, 99);
    margin: 50px 0 30px;
  }

  .textCardYears {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }

  .textCardExperience {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }
}

// MAP

.principalContainer {


  .leaflet-container {
    border: 1px solid grey;
    height: 400px;
    width: 800px;
    margin-bottom: 50px;
  }
  
}
