.containerBodyHome {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerimgPlant{
  height: 100%;
  width: 100%;

  .imgPlant {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
}


.containerCardRecycling {
  width: 80%;
  max-width: 756px;
  display: flex;
  border-radius: 15px;
  box-sizing: border-box; /* Importante para que el borde se incluya en el tamaño del contenedor */
  background-color: white;
  position: absolute;
  bottom: 500px;
  border: 1px solid #eee;

  .imgRecycling {
    height: 350px;
    width: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .centerBox {
    border-color: grey;
    background-color: white;
  }

  .textCardWeAre {
    font-size: 40px;
    line-height: 45px;
    color: #024731;
    height: 286px;
    width: 225px;
    height: 250px;
    
    width: 300px;
    margin: 10px;
    background-color: white;
  }

  .textCardView {
    font-size: 15px;
    font-weight: 500;
    color: rgb(223, 177, 99);
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
  }

  .rightBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #eee;
    padding: 15px 0px 15px 35px;
    background-color: white;
  }

  .natureLogoCard {
    height: 64px;
    width: 64px;
    background-color: white;
  }

  .text25 {
    font-size: 60px;
    font-weight: 600;
    color: rgb(223, 177, 99);
    margin: 50px 0 30px;
  }

  .textCardYears {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }

  .textCardExperience {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }
}

.principalContainer {
  width: 80%;
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

  .mapContainer {
    height: 100%;
    width: 100%;
  }

  .secondContainer {
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
}
